
/*base styles*/
@font-face {
  font-family: 'Brandon light';
  src: url('../fonts/Brandon_light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon bld';
  src: url('../fonts/Brandon_bld.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F7CAC9;
  text-align: center;
}

h1{
    font-family: 'Brandon bld', sans-serif;
    text-align: center;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    font-size: 2.5em;
    line-height: 1.3em;
    color: white;
  }

p {
  font-family: 'Brandon light', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.7em;
  line-height: 1.5em;
  color: white;
}

.p-about {
  color: black;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}


img {
  padding: 0;
  margin: 0;
}

/*hero styles*/
.hero {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 100px 0;
}
.hero-image {
  width: 90%;
  height: 100%;
  text-align: center;
}

/*Logotype Styles*/

.logotype {
  width: 90%;
  margin: auto;
}

.flex-container-logotype {
  height: auto;
  padding: 50px 0;
  width: 100%;
  text-align: center;
  margin: auto;
}

.flex-container-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 100px 0;
  width: 100%;
  text-align: center;
  margin: auto;
}
.h-contact{
  margin-top: 0;
}
/*Food Section styles*/

.flex-container{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: auto;
   padding: 100px 0;
   width: 100%;
}

.food-item {
  width: 90%;
  margin: auto;
  text-align: center;
}

.food-img {
  width: 50%;
  max-width: 350px;
}

.black {
  background-color: black;
}


/* navigation*/

header {
  background: #F7CAC9;
  font-size: 5em;
  width: 100%;
  padding: 40px 0;
  color: black;
  text-align: center;
}

nav {
  background: #F7CAC9;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  -webkit-display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.navbar {
  background: #F7CAC9;
  height: 80px;
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  border-bottom: 1px solid black;
  display: none;
}

.navbar-device {
  background: #F7CAC9;
  height: 80px;
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  border-bottom: 1px solid black;
}

nav img {
  padding-top: 15px;
  width: 50px;
}

.mobile-item {
  background-color: #F7CAC9;
  overflow: hidden;
  color: black;
  padding: 0;
  text-align: center;
  margin: 0;
  -webkit-transition: max-height 0.4s, ease-out;
  -ms-transition: max-height 0.4, ease-out;
  -moz-transition: max-height 0.4s, ease-out;
  -o-transition: max-height 0.4s, ease-out;
  transition: max-height 0.4s, ease-out;
}

.mobile-item {
  max-height: 0;
  display: block;
}

.border-menu{
border-bottom: 1px solid black;
}

.showing {
  max-height: 20em;
}


.mobile-item li {
  font-family: 'Brandon bld', sans-serif;
  font-size: 18px;
  color: black;
  padding: 15px 0;
  text-decoration: none !important;

}

.mobile-item li:hover {
  color: #3A4651;
}

nav ul li {
display: block;
box-sizing: border-box;
width: 100%;
padding: 15px;
}


.hamburger {
  display: block !important;
  margin-top: 15px !important;
}

.handle {
display: block;
}


#map {
  height: 500px;
}






@media (min-width: 760px){

  .mobile-item {
    display: none;
  }


  .hamburger {
      display: none !important;
  }

nav ul {
  background-color: #F7CAC9;
  overflow: hidden;
  padding-top: 30px;
  display: inline;
  color: black;
  text-align: center;
  margin: 0;
  -webkit-transition: max-height 0.4s, ease-out;
  -ms-transition: max-height 0.4, ease-out;
  -moz-transition: max-height 0.4s, ease-out;
  -o-transition: max-height 0.4s, ease-out;
  transition: max-height 0.4s, ease-out;

}

nav ul li {
  font-family: 'Brandon bld', sans-serif;
  font-size: 18px;
  color: black;
  display: inline;
  padding: 20px;
  margin-top: 10px;
}

nav ul li:hover {
  color: #3A4651;

}

}






@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .hero {
    height: 1024px;
  }
}

/**
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  .hero {
    height: 768px;
  }
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) {
  .hero {
    height: 500px;
  }
}
